name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            artifact_name: ddp_tictactoe-linux
            executable_name: ddp_tictactoe
          - os: windows-latest
            artifact_name: ddp_tictactoe-windows
            executable_name: ddp_tictactoe.exe
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.12'

    - name: Create build and install directories
      run: |
        mkdir -p build
        mkdir -p install
    
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_INSTALL_PREFIX=./install
    
    - name: Build
      run: cmake --build build --config Release
    
    - name: Install
      run: cmake --install build
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: install/bin/${{ matrix.executable_name }}
        if-no-files-found: error